.artist-card{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 15px;
    margin-top: 15px;
    cursor: pointer;
    width: 75%;
    background-color: #1DB954;
}

.left-area{
    display: flex;
    margin-top: 5px;
    margin-left: 5px;
}
.left-text{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-left: 10px;
}
.right-area{
    margin-top: 5px;
    margin-right: 5px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.image-area{
    border-radius: 10px;
}
@media screen and (max-width: 490px){
   .left-text{
       font-size: 12px;
   }
   .right-area{
       font-size: 12px;
   }
}
